<app-product></app-product>
<!--<p *appRepeat="5"> I am custom structural directive</p>-->

<ng-template appRepeated #rd="repeat" #ct="changeText">
  <p>I am being repeated ...</p>
</ng-template>
<button (click)="rd.repeatElement(5)">Repeat Element</button>
<button (click)="ct.changeElementText(5)">Change Text</button>
<div [ngStyle]="{
  color:colorName,
  'font-weight':fontWeight,
  borderBottom: borderStyle
}">
  Uses fixed yellow background
</div>
<div>
  <input [(ngModel)]="message" type="text">
  {{message}}
</div>
<app-user-data></app-user-data>
<app-player></app-player>
<app-security></app-security>
<router-outlet></router-outlet>
